body {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #ddd;
}

.form-personnel, .list-personnel {
    width: 30%;
    border: 1px solid #ccc;
    margin: 2%;
    padding: 2%;
    float: left;
    background: #ccc;
}

.list-personnel{
    width: 55%;
    margin-left: 0;
}

h3 {
    padding: 0;
    margin-top: 0;
    text-align: center;
    background: #999;
}

.form-personnel label {
    width: 30%;
    float: left;
    margin-left: 5%;    
}

.form-personnel input[type="text"] {
    width: 50%;
    padding: 1%;
}

span.error {color: red;
    display: block;
    padding-left: 30%;
}

input[type="reset"], button {
    width: 24%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}

table {
    width: 100%;
}

table:first-child {
    background: #cc2;
}

td {
    line-height: 30px;
}

